streamlit
langchain
langchain-community
langchain-core
sentence-transformers
pinecone-client
python-dotenv
pymupdf
langchain-pinecone pinecone-notebooks
langchain-google-genai
langchain-huggingface
